.timer__value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;

  background-color: $white;
  color: $black;

  border-radius: 3.2rem;
  padding: 0.6rem 2.4rem;

  /* ---------- LABELS ---------- */

  .timer__label {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    span {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1;

      @include respond(tab-land) {
        font-size: 1.6rem;
      }
    }
  }

  /* ---------- NUMBERS ---------- */

  .timer__numbers {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    span {
      font-size: 5.5rem;
      font-weight: 900;
      line-height: 1;

      @include respond(tab-land) {
        font-size: 4rem;
      }

      @include respond(phone) {
        font-size: 3.4rem;
      }
    }
  }
}
